<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="RDS_DB_NAME" value="Alsideeq_BookStore_DB" />
        <add key="RDS_USERNAME" value="aaldhahe" />
        <add key="RDS_PASSWORD" value="ahmed1991" />
        <add key="RDS_HOSTNAME" value="alsideeq-bookstore-instance.clslxbbfn4dw.us-east-2.rds.amazonaws.com" />
        <add key="RDS_PORT" value="3306" />
    </appSettings>
</configuration>